# Ignore dataset and generated samples
/dataset/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode settings
.vscode/
